<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Weather App</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="myName">BibekTech</div>
      <ul class="lists">
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>404 error: Please head back to home</h1>
      <h1>{{errorMsg}}</h1>

    </div>
  </body>
</html>