<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Weather App</title>
  </head>
  <body>
    {{>navbar}}
    <div class="about">
      <h1>About us</h1>
      <p>
        WeatherNow is a simple, user-friendly weather app designed to provide
        accurate and up-to-date weather information. Our goal is to help users
        stay informed with real-time forecasts, temperature, humidity, and
        weather alerts. Whether you're planning your day or preparing for a
        trip, WeatherNow ensures you're always ready for the weather.
      </p>
    </div>
    {{>footer}}
  </body>
</html>