<nav class="navbar">
  <div class="myName">BibekTech</div>
  <ul class="lists">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/weather">Weather</a></li>
  </ul>
</nav>